.ReactPublishButton {
  display: inline-block;
}

.test {
  background-color: red;
}

.ReactPublishButton__svg {
  width: 20px;
  height: 20px;
}

.ReactSettingsButton {
  display: inline-block;
}

.ReactSettingsButton-svg {
  width: 20px;
  height: 20px;
}

.ModuleItem {
  width: 100%;
  display: flex;
  vertical-align: middle;
  padding: 4px;
  align-items: center;
}

.ModuleItem--dragging {
  opacity: 0;
}

.ModuleItem__title {
  flex: 8;
  padding-right: 12px;
}

.ModuleItem__due-date {
  flex: 2;
  font-size: 0.8rem;
}

.ModuleItem__availability {
  flex: 2;
  font-size: 0.8rem;
}

.ModuleItem__points {
  font-size: 0.8rem;
  flex: 1;
}

.ModuleItem__published {
  width: 32px;
}

.ModuleItem__admin {
  width: 32px;
}
