.ItemGroup {
  border: 1px solid #D8D8D8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.ItemGroup-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ItemGroup-header {
  background-color: #F7F7F7;
  padding: 16px 10px;
  text-transform: capitalize; /* temporary */
}

.ItemGroup__expand-button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: 2px;
  margin-right: 6px;
}

.ItemGroup-title {
  display: inline-block;
  font-size: 1.03rem;
}

.ItemGroup__expand-button:active {
  padding: 0;
}

.ItemGroup__expand-arrow {
  display: inline-block;
  border: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
}

.ItemGroup--expanded .ItemGroup__expand-arrow {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.ItemGroup--collapsed .ItemGroup__expand-arrow {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.ItemGroup-itemlist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ItemGroup-itemlist > li,
.ItemGroup-item {
  padding: 12px;
  margin: 0;
  list-style: none;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: -1px;
  text-transform: capitalize; /* temporary */
}

.ItemGroup-itemlist > li.hover.hover-above {
  border-top: 1px solid red;
}

.ItemGroup-itemlist > li.hover.hover-below {
  border-bottom: 1px solid red;
}

.ItemGroup-itemlist > li.hover.hover-below + li {
  border-top: 1px solid red;
}

.ItemGroup-itemlist > li:hover,
.ItemGroup-item:hover {
  background-color: #EEF7FF;
}
